{% extends 'serversmanage/base.html' %}
{% block body %}
    <div class="container">
        <table id="basetable" class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th class="info" width="80"><center>IP</center></th>
                    <th class="info" width="130"><center>Hostname</center></th>
                    <th class="info" width="120"><center>Server Status</center></th>
                    <th class="info" width="120"><center>Backup Status</center></th>
                    <th class="info" width="170"><center>Last Backup</center></th>
                </tr>
            </thead>
            <tbody>
            {% for server in object_list %}
                <tr>
                    <td align="center">{{ server.ip }}</td>
                    <td align="center"><a href="{% url 'serversmanage:serverinfo' server.id %}"> {{ server.hostname }}</a></td>
                    {% if server.serverstatus == "Disabled" %}
                        <td class="warning" align="center">{{ server.serverstatus }}</td>
                    {% else %}
                        <td align="center">{{ server.serverstatus }}</td>
                    {% endif %}                    {% if server.backupstatus == "ERROR" %}
                        <td class="danger" align="center">{{ server.backupstatus }}</td>
                    {% else %}
                        <td align="center">{{ server.backupstatus }}</td>
                    {% endif %}
                    <td align="center">{{ server.lastbackup }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
<script type="text/javascript">
$(document).ready(function() {
    $('#basetable').DataTable();
} );
</script>
{% endblock %}
