{% extends 'serversmanage/base.html' %}
{% block body %}
{% if list_backup_dirs %}
<div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
    <div class="panel-heading">
        The backup restore command will be sent in the background for each element. You can monitor the process from the
        backup server or the client using 'ps aux | grep {{ server_ip }}'

    <br>
        Please make sure the parent directory is found on the client before the restore action. Ex. If you are restoring /etc/dir/file.cnf
        make sure /etc/dir is exists on the client.
    <br>
        <b>Action Logs</b> <i>{{ BACKUPDIR_LOG }}/{{ hostname }}.txt</i>
    <br>
        <b>Error Logs</b>: <i>{{ BACKUPDIR_LOG }}/{{ hostname }}_errors.txt</i>
    </div>
        <table class="table table-bordered table-striped">
            <tr>
                <th class="info" width="80"><center>Directory</center></th>
                <th class="info" width="130"><center>Action</center></th>
            </tr>

            {% for dir_to_restore in list_backup_dirs %}
                <tr>
                    <td align="center">{{ dir_to_restore }}</td>
                    <td align="center">
                    <form action="{% url 'serversmanage:restore_backup' server_id %}/{{ dir_to_restore }}" method="get" onsubmit="return confirm('Are you sure you want to restore?');">
                        <input type="hidden" value="{{ dir_to_restore }}" name="dir_to_restore"/>
                        <input type="submit" class="btn btn-info" value="Restore Backup" name="restore_backup" />
                    </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endif %}
<div align="center">
    <a class="" href="javascript:history.back()">Go Back</a>
</div>
{% endblock %}