{% extends 'serversmanage/base.html' %}

{% block body %}
    <div class="container">
        <table class="table table-bordered table-striped">
            <tr>
                <th class="info" width="80"><center>IP</center></th>
                <th class="info" width="130"><center>Hostname</center></th>
                <th class="info" width="120"><center>Server Status</center></th>
                <th class="info" width="120"><center>Backup Status</center></th>
                <th class="info" width="170"><center>Last Backup</center></th>
            </tr>

            <tr>
                <td align="center">{{ servers.ip }}</td>
                <td align="center"><a href="{% url 'serversmanage:serverinfo' servers.id %}"> {{ servers.hostname }}</a></td>
                {% if servers.serverstatus == "Disabled" %}
                    <td class="warning" align="center">{{ servers.serverstatus }}</td>
                {% else %}
                    <td align="center">{{ servers.serverstatus }}</td>
                {% endif %}
                {% if servers.backupstatus == "ERROR" %}
                    <td class="danger" align="center">{{ servers.backupstatus }}</td>
                {% else %}
                    <td align="center">{{ servers.backupstatus }}</td>
                {% endif %}
                <td align="center">{{ servers.lastbackup }}</td>
            </tr>
        </table>
    </div>
    <form id="edit" action="{% url 'serversmanage:serveredit' servers.id %}" method="get">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">Edit</button>
    </form>
    <form id="delete" action="{% url 'serversmanage:serverdelete' servers.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="serversid" value="{{ servers.id }}">
        <button class="btn btn-danger" type="submit">Delete</button>
    </form>
    <form action="/runbackup/" method="get">
        <input type="hidden" value="{{ servers.hostname }}" name="serverhostname"/>
        <input type="hidden" value="{{ servers.id }}" name="serverid"/>
        <input type="hidden" value="{{ servers.ip }}" name="serverip"/>
        <button class="btn btn-info" value="runbackup" name="runbackup" onclick="myFunction()">Backup now</button>
        <script>
            function myFunction() {
                alert("Backup command will be sent\nPlease monitor from SSH.\n'ps aux | grep {{ servers.ip }}'");
            }
        </script>
    </form>
    {% if servers.serverstatus == "Enabled" %}
        <a href="{% url 'serversmanage:serverdisable' servers.id %}" class="btn btn-warning">Disable</a>
    {% else %}
        <a href="{% url 'serversmanage:serverenable' servers.id %}" class="btn btn-success">Enable</a>
    {% endif %}

    <a href="{% url 'serversmanage:list_backup' servers.id %}" class="btn btn-success">Restore Backup</a>
    <a href="{% url 'serversmanage:view_logs' servers.id %}" class="btn btn-info">View Logs</a>
    <a href="{% url 'serversmanage:test_ssh' servers.id %}" class="btn btn-success">Test SSH</a>
    <a href="{% url 'serversmanage:view_running_jobs' servers.id %}" class="btn btn-primary">View Running Jobs</a>
    <a href="{% url 'serversmanage:kill_running_jobs' servers.id %}" class="btn btn-danger">Kill Running Jobs</a>

    <div align="center" class="">
        <br>
        <a class="" href="javascript:history.back()">Go Back</a>
    </div>
{% endblock %}
