{% extends 'serversmanage/base.html' %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div>
            <div class="panel-body">
                <form class="form-horizontal" action="" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            <div class="col-sm-offset-2">
                                <span class="text-danger small">{{ field.errors }}</span>
                            </div>
                        </div>
                        <fieldset class="form-group">
                        <label class="control-label col-sm-2">{{ field.label_tag }}</label>
                        <div class="col-sm-4">{{ field }}</div>
                        </fieldset>
                    {% endfor %}
                    <div  class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
                <div class="alert alert-info" role="alert"><b>Backup Paths</b> should be comma separated without spaces or
                special characters except <b>/</b>
                <br>Ex. Of <b>valid paths:</b> /home,/usr,/var
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}